<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Favorite Food</title>
  </head>

  <body>
  <h2><%="My name is #{params[:name]}, and I love #{params[:favorite_food]}"%></h2>
  </body>
</html>
