<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Favorite Food</title>
  </head>

  <body>
    <h1>Favorite Food</h1>
    <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSwGoDVUDPLd8f_397Fp9BrLKlu-6msu0sSiT0LeEZQ8Ga2228z">

    <!-- Insert Your Form Below -->
    <form action="/food" method="get">
      <label for="name">NAME</label>
      <input type="text" name="name" id="name">
      <label for="food_name">FOOD NAME</label>
      <input type="text" name="food_name" id="food_name">
      <submit type="submit" value="submit">
    </form>
  </body>
</html>
